{% extends 'base.html' %}

{% block content %}
<br>
<div class="container border ">
    <h1 class="text-center">Login Form</h1>
    <form method="post" action="/signin">
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-danger">{{error}}</div>
      {% endif %}
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">Firstname</label>
          <input type="text" name="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock content %}